<div class="container-fluid">
  <div *ngFor="let other of others" [id]="generateId(other.fields.headline)">
      <h4 class="heading">{{ other.fields.heading }}</h4>
      <h3 class="headline">{{ other.fields.headline }}</h3>
      <p class="date"><strong>Date:</strong> {{ other.fields.date }}</p>
      <p class="country"><strong>Country:</strong> {{ other.fields.country }}</p>
      <p class="detail">{{ other.fields.detail }}</p>
      <p class="impact"><strong>Impact:</strong> {{ other.fields.impact }}</p>
      <p class="contact"><strong>Contact:</strong> {{ other.fields.contact }}</p>
  </div>
</div>
