<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg" ngSkipHydration>
  <div class="container">
    <!-- Left side - Logo -->
    <a class="navbar-brand">
      <img src="./assets/images/deloitte.svg" (click)="scrollToMainpage()" alt="Deloitte Logo">
    </a>
    <div class="carousel-caption d-none d-md-block">
      <div *ngFor="let tabs of tabs" class="carousel-tabs">
        <button class="tab-link" routerLink="/publications" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          {{ tabs.fields['tab1'] }}</button>
        <button class="tab-link" routerLink="/solutions" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> {{
          tabs.fields['tab2'] }}</button>
        <button class="tab-link" routerLink="/guildpage" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">{{
          tabs.fields['tab3'] }} </button>
        <button class="tab-link" routerLink="/globe" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> {{
          tabs.fields['tab4'] }}</button>
          <a href="#team" class="tab-link"  style="text-decoration: none;" [class.active]="activeTab === 'team'" (click)="scrollToTeam()">
            {{ tabs.fields['tab5'] }}
          </a>
          
      </div>
    </div>
    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right side - Search and User -->
    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
      <div class="nav-right ms-auto d-flex align-items-center">
        <div class="search-container">
          <input type="text" [(ngModel)]="searchQuery" (input)="search()" />
          <span class="search-icon material-icons">Search</span>
          <ul *ngIf="showSuggestions">
            <li class="card" *ngFor="let suggestion of suggestions">
              <a (click)="redirectToContent(suggestion)">{{ suggestion.snippet }}</a>
            </li>
          </ul>
        </div>
        <div class="user-icon">
          <span class="fa fa-user"></span>
        </div>
      </div>
    </div>
  <!-- </div> -->
</nav>