<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a href="#" class="user-link">About Deloitte</a>
            <a href="#" class="user-link">Privacy Notice</a>
            <a href="#" class="user-link">Cookies Policy</a>
            <a href="#" class="user-link">Disclaimer</a>
            <a href="#" class="user-link">Security Policy</a>
            <a href="#" class="user-link">Cookie Settings</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="copyright">Copyright © 2024 Deloitte Touche Tohmatsu Limited</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="https://www.facebook.com/DeloitteIndia" target="_blank">
                <i class="fab fa-facebook-f social-icon"></i>
            </a>
            <a href="https://x.com/Deloitte" target="_blank">
                <i class="fab fa-x-twitter social-icon"></i>
            </a>
            <a href="https://www.linkedin.com/showcase/deloitte-insights/" target="_blank">
                <i class="fab fa-linkedin social-icon"></i>
            </a>
            <a href="https://www.youtube.com/user/deloittellp" target="_blank">
                <i class="fab fa-youtube social-icon"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram social-icon"></i>
            </a>
        </div>
    </div>
    
</div>
