<div class="objectives-container">
  <div class="circle-container">
    <!-- Title and Description -->
    <div class="circle-header">
      <h5 class="section-title">The Objective</h5>
      <!-- <span class="line"></span> -->
      <p class="objective-description">
        Developing a borderless community of space enthusiasts to advance collective insights and innovation in the space sector.
      </p>
    </div>
    <!-- Circles Content -->
    <div class="circle-content">
      <div class="main-circle">
        <div class="circle-text">
          <h4>Collaboration</h4>
          <p>Creating a community to advance collaborative insights in the space sector.</p>
        </div>
      </div>
      <div class="main-circle" >
        <div class="circle-text">
          <h4>Innovation</h4>
          <p>Fostering innovation by gaining exposure to space industry challenges and solutions.</p>
        </div>
      </div>
      <div class="main-circle">
        <div class="circle-text">
          <h4>Knowledge</h4>
          <p>Enhancing creative thinking, innovation, and knowledge for practitioners.</p>
        </div>
      </div>
      <div class="main-circle">
        <div class="circle-text">
          <h4>Talent Pool</h4>
          <p>Building a robust talent pool to drive market expansion in the space sector.</p>
        </div>
      </div>
    </div>
  </div>
</div>
