<div class="page-container">
  <app-header></app-header>
  <div class="content">
    <section id="section1" style="height: 100%;">
      <app-guildStart></app-guildStart>
    </section>
    <section id="section2" style="height: 100%;">
      <app-dsaGuild></app-dsaGuild>
    </section>
    <section id="section3"  style="height: 100%;">
      <app-coreCommitee></app-coreCommitee>
    </section>
    <section id="section4" style="height: 100%;">
      <app-newsletter></app-newsletter>
    </section>
    <section id="section5" style="height: 100%;">
      <app-spaceEvents></app-spaceEvents>
    </section>    
    <section id="section6" style="height: 100%;">
      <app-joinhere></app-joinhere>
    </section>
  </div>
</div>
