<section id="coreCommittee" class="section">
  <div class="image-container">
    <!-- Image taking full height on the left side -->
  </div>
  <div class="content-container">
    <h5 class="section-title">Core Committee - Space Guild</h5>
    <div class="members-area">
      <div class="member-card">
        <img src="../../assets/images/surbhi.jpg" alt="Surbhi Patni Dalmia" class="member-photo" />
        <div>
          <h3 class="member-name">Surbhi Patni Dalmia</h3>
          <p class="member-role">Co-President, DSA Space Guild</p>
          <a href="mailto:psurbhi&#64;deloitte.com" class="member-contact">
            <i style="margin-right: 10px;" class="fas fa-envelope"></i>psurbhi&#64;deloitte.com</a>
        </div>
      </div>

      <div class="member-card">
        <img src="../../assets/images/arpitgupta.png" alt="Arpit Gupta" class="member-photo" />
        <div>
          <h2 class="member-name">Arpit Gupta</h2>
          <p class="member-role">Co-President, DSA Space Guild</p>
          <a href="mailto:arpitgupta&#64;deloitte.com" class="member-contact">
            <i style="margin-right: 10px;" class="fas fa-envelope"></i>arpitgupta&#64;deloitte.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
