<div class="space-events-container">
  <!-- Header Section -->
  <div class="events-header">
    <h5 class="events-title">Space Events Attended by the Guild Members</h5>
    <!-- <span class="line"></span> -->
    <p class="events-description">
      Discover the significant events and conferences attended by our guild members, showcasing their active participation in advancing space exploration and innovation.
    </p>
  </div>

  <!-- Events Section -->
  <div class="events-slider">
    <div class="events-grid">
      <div class="event-card">
        <img src="../../assets/images/expomembers.png" alt="Event 1" class="event-image" />
        <div class="event-content">
          <h3 class="event-title">Space Guild at BSX</h3>
          <p class="event-description">Our Space Guild members at India’s biggest Space expo!</p>
          <p class="event-info">Dive into the vibrant world of our Space Guild members with highlights from their recent activities and events. See how our members are making an impact and find out how you can join us in exploring the universe. </p>

        </div>
      </div>
      <div class="event-card">
        <img src="../../assets/images/expomembers.png" alt="Event 1" class="event-image" />
        <div class="event-content">
          <h3 class="event-title">Space Guild at BSX</h3>
          <p class="event-description">Our Space Guild members at India’s biggest Space expo!</p>
          <p class="event-info">Dive into the vibrant world of our Space Guild members with highlights from their recent activities and events. See how our members are making an impact and find out how you can join us in exploring the universe. </p>
        </div>
      </div>
      <!-- Additional event cards -->
    </div>
  </div>
</div>
