<div class="container-fluid">
  <div *ngFor="let startup of startups" [id]="generateId(startup.fields.headline)">
      <h4 class="heading">{{ startup.fields.heading }}</h4>
      <h3 class="headline">{{ startup.fields.headline }}</h3>
      <p class="date"><strong>Date:</strong> {{ startup.fields.date }}</p>
      <p class="country"><strong>Country:</strong> {{ startup.fields.country }}</p>
      <p class="detail">{{ startup.fields.detail }}</p>
      <p class="impact"><strong>Impact:</strong> {{ startup.fields.impact }}</p>
      <p class="startup-capability"><strong>Startup Capability:</strong> {{ startup.fields.startupcapability }}</p>
      <p class="contact"><strong>Contact:</strong> {{ startup.fields.contact }}</p>
  </div>
</div>
