<div class="container-fluid">
  <div class="article" *ngFor="let scitechadvancement of scitechadvancements" [id]="generateId(scitechadvancement.fields.headline)">
      <div class="article-header">
          <h4 class="heading">{{ scitechadvancement.fields.heading }}</h4>
          <h3 class="headline">{{ scitechadvancement.fields.headline }}</h3>
          <p class="date"><strong>Date:</strong> {{ scitechadvancement.fields.date }}</p>
      </div>
      <div class="article-body">
          <p class="country"><strong>Country:</strong> {{ scitechadvancement.fields.country }}</p>
          <p class="detail">{{ scitechadvancement.fields.detail }}</p>
          <p class="impact"><strong>Impact:</strong> {{ scitechadvancement.fields.impact }}</p>
      </div>
      <div class="article-footer">
          <p class="contact"><strong>Contact:</strong> {{ scitechadvancement.fields.contact }}</p>
          <!-- Uncomment if the read more link is needed -->
          <!-- <a class="read-more" [href]="scitechadvancement.fields.link" target="_blank">Read more</a> -->
      </div>
  </div>
</div>
