<section id="join-here" class="join-section">
    <div class="join-container">
      <!-- Image Section -->
      <div class="join-image-container">
        <img
          src="../../assets/images/joinus.jpg"
          alt="Woman Handshake"
          class="join-image"
        />
      </div>
  
      <!-- Form Section -->
      <div class="join-form-container">
        <h2>Interested to be part of the Guild?</h2>
        <p class="join-description">
          Join a community of innovators and leaders. Be a part of something
          bigger and grow with us.
        </p>
        <form class="join-form">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter your name"
            required
            class="form-input"
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
            class="form-input"
          />
          <button type="submit" class="join-button">Join Now</button>
        </form>
      </div>
    </div>
  </section>
  