<div class="container-fluid">
  <div *ngFor="let policyregulationchange of policyregulationchanges" [id]="generateId(policyregulationchange.fields.headline)">
      <h4 class="heading">{{ policyregulationchange.fields.heading }}</h4>
      <h3 class="headline">{{ policyregulationchange.fields.headline }}</h3>
      <p class="date"><strong>Date:</strong> {{ policyregulationchange.fields.date }}</p>
      <p class="country"><strong>Country:</strong> {{ policyregulationchange.fields.country }}</p>
      <p class="detail">{{ policyregulationchange.fields.detail }}</p>
      <p class="impact"><strong>Impact:</strong> {{ policyregulationchange.fields.impact }}</p>
      <p class="contact"><strong>Contact:</strong> {{ policyregulationchange.fields.contact }}</p>
  </div>
</div>
