<app-header></app-header>
<div class="solutions-container">
  <section class="our-solutions">
    <h5>Our Solutions</h5>
    <div class="description">
      <p>
        <strong>EUDR Helper </strong>empowers Deloitte practitioners
        and clientele to confidently navigate EU deforestation regulations through satellite-derived insights and
        structured guidance. The tool features a global monitoring system that analyzes forest cover changes since 2021,
        delivering precise measurements through both user-drawn areas and coordinate inputs. Users can examine detailed
        satellite imagery in multiple viewing modes to verify land use changes over time. To streamline compliance
        processes, our integrated AI assistant provides expert guidance on policy requirements and technical
        specifications, helping users efficiently manage their due diligence obligations. This comprehensive solution
        transforms complex regulatory requirements into actionable insights, enabling businesses to maintain sustainable
        supply chains while meeting the new EU anti-deforestation requirements.
      </p>
    </div>
    <div class="solution-details">
      <div class="screenshots">
        <img src="../../assets/images/polygon.png" alt="polygon" />
        <img src="../../assets/images/satellite.png" alt="satellite" />
      </div>
    </div>

    <h5>Mining Analysis Dashboard</h5>
    <div class="description">
      The CoE's first prototype for the mining sector combines the monitoring of environmental variables around
      existing mining sites with future site prospecting, all presented through an interactive web interface for easy
      exploration and analysis.


      <ul class="mining-features">
        <li>Built an automated system that detects and monitors active mining operations while tracking their
          environmental impact, powered by ML models trained on Geoscience Australia's verified mining data.</li>
        <li>Created a predictive engine that uses ML to identify potential mineral-rich zones by analyzing spectral
          indices from multi-source satellite imagery, terrain characteristics, geological data, and geophysical
          variables like total magnetic intensity.</li>
      </ul>
    </div>
    <div class="container">
      <div class="left-column">
          <img src="../../assets/images/mining1.png" alt="Mining Spectral Analysis">
          <img src="../../assets/images/mining3.png" alt="Mining Analysis Dashboard Overview">
      </div>
      <div class="right-column">
          <img src="../../assets/images/mining2.png" alt="Mining Site Monitoring Interface">
      </div>
  </div>
  </section>

  <section class="partners-solutions">
    <h5>Our Partner's Solutions</h5>
    <div class="container">
     
  </div>
  </section>
</div>