<div class="container-fluid">
  <div *ngFor="let otherEvent of otherEvents" [id]="generateId(otherEvent.fields.headline)">
      <h4 class="heading">{{ otherEvent.fields.heading }}</h4>
      <h3 class="headline">{{ otherEvent.fields.headline }}</h3>
      <p class="date"><strong>Date:</strong> {{ otherEvent.fields.date }}</p>
      <p class="location"><strong>Location:</strong> {{ otherEvent.fields.location }}</p>
      <p class="detail">{{ otherEvent.fields.detail }}</p>
      <p class="registration-fee"><strong>Registration Fee:</strong> {{ otherEvent.fields.registrationfee }}</p>
  </div>
</div>
