<!-- <ul>
  <li *ngFor="let industry of industries" [id]="generateId(industry.fields.headline)">
    <h2>{{ industry.fields.headline }}</h2>
    <p>{{ industry.fields.detail }}</p>
    <p>Country: {{ industry.fields.country }}</p>
    <p>Date: {{ industry.fields.date }}</p>
    <p>Impact: {{ industry.fields.impact }}</p>
    <p>Contact: {{ industry.fields.contact }}</p>
    <a [href]="industry.fields.link" target="_blank">Link</a>
  </li>
</ul> -->




<div class="container-fluid">
  <div *ngFor="let industry of industries" [id]="generateId(industry.fields.headline)">
    <h4 class="heading">{{ industry.fields.heading }}</h4>
    <h3 class="headline">{{ industry.fields.headline }}</h3>
    <p class="date"><strong>Date:</strong> {{ industry.fields.date }}</p>
    <p class="country"><strong>Country:</strong> {{ industry.fields.country }}</p>
    <p class="detail">{{ industry.fields.detail }}</p>
    <p class="impact"><strong>Impact:</strong> {{ industry.fields.impact }}</p>
    <p class="contact"><strong>Contact:</strong> {{ industry.fields.contact }}</p>
  </div>
</div>

