<div class="container-fluid team-container">
  <h5 class="team-title">Meet The Team</h5>

  <div class="team-grid">
    <div class="team-member" *ngFor="let team of teams">
      <!-- Profile Image Container -->
      <div class="member-image">
        <img [src]="team.fields['profile']" [alt]="team.fields['personname']">
      </div>

      <!-- Member Info Container -->
      <div class="member-details">
        <!-- Name and Title -->
        <div class="member-header">
          <h3 class="member-name">{{ team.fields['personname'] }}</h3>
          <!-- <div class="social-links"> -->
          <a [href]="team.fields['linkedin']" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"> </i>
          </a>
        </div>

        <!-- </div> -->
        <p class="member-title">{{ team.fields['designation'] }}</p>

        <!-- Contact Information -->
        <div class="contact-info">
          <a [href]="'mailto:' + team.fields['email']" class="contact-item email">
            <i class="far fa-envelope"></i>
            {{ team.fields['email'] }}
          </a>

          <!-- <a [href]="'tel:' + team.fields['phone']" class="contact-item phone">
            <i class="fas fa-phone"></i>
            {{ team.fields['phone'] }}
          </a> -->
        </div>

        <!-- Social Links -->


        <!-- Description -->
        <p class="member-description">{{ team.fields['profiledescription'] }}</p>
      </div>
    </div>
  </div>
</div>