<div class="container-fluid">
  <div *ngFor="let competitor of competitors" [id]="generateId(competitor.fields.headline)">
      <h4 class="heading">{{ competitor.fields.heading }}</h4>
      <h3 class="headline">{{ competitor.fields.headline }}</h3>
      <p class="date"><strong>Date:</strong> {{ competitor.fields.date }}</p>
      <p class="country"><strong>Country:</strong> {{ competitor.fields.country }}</p>
      <p class="competitor"><strong>Competitor:</strong> {{ competitor.fields.competitor }}</p>
      <p class="detail">{{ competitor.fields.detail }}</p>
      <p class="impact"><strong>Impact:</strong> {{ competitor.fields.impact }}</p>
      <p class="contact"><strong>Contact:</strong> {{ competitor.fields.contact }}</p>
  </div>
</div>
